flowsCapinauta202005311100.json
[{"id":"72f4e46.417071c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5418a7c0.acb048","type":"telegram receiver","z":"72f4e46.417071c","name":"Capinauta","bot":"7b3c38bb.aefe98","saveDataDir":"","filterCommands":false,"x":100,"y":120,"wires":[["6cb860ac.36ff","209a30c3.342fa"],[]]},{"id":"6cb860ac.36ff","type":"debug","z":"72f4e46.417071c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":80,"wires":[]},{"id":"209a30c3.342fa","type":"switch","z":"72f4e46.417071c","name":"Tipo","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"location","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":140,"wires":[["3eb456f4.caccfa"],["ddbcad52.d6016"],[]],"outputLabels":["location","message","else"]},{"id":"3eb456f4.caccfa","type":"link out","z":"72f4e46.417071c","name":"","links":["62b86bc7.1a7db4"],"x":395,"y":120,"wires":[]},{"id":"62b86bc7.1a7db4","type":"link in","z":"72f4e46.417071c","name":"","links":["3eb456f4.caccfa"],"x":75,"y":240,"wires":[["931ec5a8.2dc608"]]},{"id":"e8e8893b.c34bc8","type":"telegram sender","z":"72f4e46.417071c","name":"","bot":"7b3c38bb.aefe98","x":730,"y":120,"wires":[[]]},{"id":"931ec5a8.2dc608","type":"function","z":"72f4e46.417071c","name":"","func":"var pld = {\n    content: \"Hi \" + msg.originalMessage.chat.first_name + \" \" + msg.originalMessage.chat.last_name, \n    chatId: msg.payload.chatId, \n    type: \"message\",\n};\nvar resp1 = {\"payload\": pld};\n\nmsg.url = \"https://maps.googleapis.com/maps/api/geocode/json?latlng=\"+ msg.payload.content.latitude +\",\"+ msg.payload.content.longitude +\"&key=AIzaSyBomoMAzxapRIQ1A6DQw_BWikc_BxOC_DA\";\nreturn [resp1,msg];\n","outputs":2,"noerr":0,"x":190,"y":240,"wires":[["3e631d1d.2a9ae2"],["9a2b37b0.9389e8","bb1eb022.19f97"]]},{"id":"9a2b37b0.9389e8","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":375,"y":280,"wires":[["3ecfe2ee.d2294e"]],"l":false},{"id":"3ecfe2ee.d2294e","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":435,"y":280,"wires":[["ffbbad55.d511f"]],"l":false},{"id":"ffbbad55.d511f","type":"change","z":"72f4e46.417071c","name":"","rules":[{"t":"set","p":"pldres","pt":"msg","to":"payload.results","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":280,"wires":[["d60d3781.a93af8"]],"l":false},{"id":"d60d3781.a93af8","type":"array-loop","z":"72f4e46.417071c","name":"","key":"ald60d3781a93af8","keyType":"msg","reset":false,"resetValue":"value-null","array":"pldres","arrayType":"msg","x":555,"y":280,"wires":[[],["cfebecd8.17e7a"]],"l":false},{"id":"cfebecd8.17e7a","type":"function","z":"72f4e46.417071c","name":"","func":"try {\n    \n    if (msg.payload.types[0] == 'locality' && msg.payload.types[1] == 'political'){\n        msg.local = msg.payload;\n        return [msg,null];\n    } else\n        return [null,msg];\n} catch {\n    return [null,msg];\n}","outputs":2,"noerr":0,"x":615,"y":280,"wires":[["262494c6.ed705c"],["d60d3781.a93af8"]],"l":false},{"id":"262494c6.ed705c","type":"array-loop","z":"72f4e46.417071c","name":"","key":"al262494c6ed705c","keyType":"msg","reset":false,"resetValue":"value-null","array":"local.address_components","arrayType":"msg","x":695,"y":280,"wires":[["acfe0407.f7c678"],["d4369fc6.2ee88"]],"l":false},{"id":"d4369fc6.2ee88","type":"function","z":"72f4e46.417071c","name":"","func":"try {\n    \n    if (msg.payload.types[0] == 'country' && msg.payload.types[1] == 'political'){\n        msg.myCountry = {\"country_long_name\": msg.payload.long_name,\"country_short_name\": msg.payload.short_name};\n    } else if (msg.payload.types[0] == 'locality' && msg.payload.types[1] == 'political'){\n        msg.myCity = {\"locality_long_name\": msg.payload.long_name,\"locality_short_name\": msg.payload.short_name};\n    }\n    return msg;\n} catch {\n    return msg;\n}","outputs":1,"noerr":0,"x":755,"y":280,"wires":[["262494c6.ed705c"]],"l":false},{"id":"acfe0407.f7c678","type":"function","z":"72f4e46.417071c","name":"","func":"var pld = {\n    content: \"Your location is \" + msg.myCountry.country_long_name + \" - \" + msg.myCity.locality_short_name, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nvar resp1 = {\"payload\": pld};\nreturn [resp1,msg];","outputs":2,"noerr":0,"x":815,"y":280,"wires":[["535434ae.b227ec"],["1538298f.ed8e66"]],"l":false},{"id":"7663d240.ec11bc","type":"link in","z":"72f4e46.417071c","name":"","links":["3e631d1d.2a9ae2","535434ae.b227ec","e4e38de4.7a025","4a8b3fb9.8367c","67e68a07.45ac94","e2320210.984e2","9a5a5a2c.309338","27d33110.2933ce"],"x":595,"y":120,"wires":[["e8e8893b.c34bc8"]]},{"id":"3e631d1d.2a9ae2","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":375,"y":240,"wires":[]},{"id":"535434ae.b227ec","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":895,"y":260,"wires":[]},{"id":"bb1eb022.19f97","type":"function","z":"72f4e46.417071c","name":"","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nvar sgeocode = msg.originalMessage.location.latitude + \",\" + msg.originalMessage.location.longitude + \",100km\";\nmsg.payload = {\n        \"q\": \"covid\",\n        \"count\":5 ,\n        \"geocode\":sgeocode\n};\nmsg.url = \"https://api.twitter.com/1.1/search/tweets.json\";\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":360,"wires":[["dca50b0c.d798f8"]]},{"id":"dca50b0c.d798f8","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"bearer","x":250,"y":360,"wires":[["ccbc4b56.42cad8"]]},{"id":"ccbc4b56.42cad8","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":360,"wires":[["4dafbb88.4811b4"]]},{"id":"5203aede.ec033","type":"array-loop","z":"72f4e46.417071c","name":"","key":"al3c5befdfc1a7d","keyType":"msg","reset":false,"resetValue":"value-null","array":"twitts","arrayType":"msg","x":700,"y":360,"wires":[[],["c4ee23a7.5e744"]]},{"id":"c4ee23a7.5e744","type":"function","z":"72f4e46.417071c","name":"response","func":"var sresposta = \"Tweet \"+ (msg.al3c5befdfc1a7d+1) +\"\\n\\n\";\nsresposta += \"https://twitter.com/\"+ msg.payload.user.screen_name +\"/status/\" + msg.payload.id_str + \"\"+\"\\n\\n\";\nsresposta += msg.payload.user.screen_name +\" \"+ msg.payload.user.location + \"\\n\\n\";\nsresposta += msg.payload.text + \"\\n\\n\";\n\n//sresposta += \"https://covid19.mathdro.id/api/countries/IT/og\";\n\nvar pld = {\n    content: sresposta, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["4a8b3fb9.8367c","5203aede.ec033"]]},{"id":"4a8b3fb9.8367c","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":975,"y":360,"wires":[]},{"id":"4dafbb88.4811b4","type":"function","z":"72f4e46.417071c","name":"trim msg","func":"var pld;\npld = {\"twitts\": msg.payload.statuses,\n    \"originalMessage\" : msg.originalMessage}\nreturn pld;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["5203aede.ec033"]]},{"id":"315b866d.cca81a","type":"comment","z":"72f4e46.417071c","name":"Query and send last 5 twitts","info":"","x":180,"y":320,"wires":[]},{"id":"77c9ce53.d30b2","type":"comment","z":"72f4e46.417071c","name":"location","info":"","x":110,"y":200,"wires":[]},{"id":"f5f96125.05c73","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":440,"wires":[["4be4d2c0.ca02fc"]]},{"id":"4be4d2c0.ca02fc","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":575,"y":440,"wires":[["62d253aa.a62bec"]],"l":false},{"id":"51a6a7a4.0891a8","type":"function","z":"72f4e46.417071c","name":"","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nmsg.url = \"https://www.trackcorona.live/api/countries/\" + msg.myCountry.country_short_name;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":440,"wires":[["123976d1.a8f629"]]},{"id":"62d253aa.a62bec","type":"function","z":"72f4e46.417071c","name":"response","func":"var sresposta = \"Covid number we found\\n\\n\";\n\n/*\nvar sresposta = \"Tweet \"+ msg.al3c5befdfc1a7d +\"\\n\\n\";\nsresposta += \"https://twitter.com/\"+ msg.payload.user.screen_name +\"/status/\" + msg.payload.id_str + \"\"+\"\\n\\n\";\nsresposta += msg.payload.user.screen_name +\" \"+ msg.payload.user.location + \"\\n\\n\";\nsresposta += msg.payload.text + \"\\n\\n\";\n*/\n\n//var supdate = msg.payload.data[0].updated.toString();\nsresposta += \"Location: \" + msg.payload.data[0].location + \"\\n\";\nsresposta += \"Confirmed: \" + msg.payload.data[0].confirmed + \"\\n\";\nsresposta += \"Deads: \" + msg.payload.data[0].dead + \"\\n\";\nsresposta += \"Recovered: \" + msg.payload.data[0].recovered + \"\\n\";\n//sresposta += \"Udated: \" + supdate + \"\\n\";\n\nvar pld = {\n    content: sresposta, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["e2320210.984e2"]]},{"id":"123976d1.a8f629","type":"delay","z":"72f4e46.417071c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":440,"wires":[["f5f96125.05c73"]]},{"id":"96c1c7cb.dc1ed8","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":520,"wires":[["8562f293.e6d3b"]]},{"id":"8562f293.e6d3b","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":575,"y":520,"wires":[["eb5b4b0f.26f118"]],"l":false},{"id":"2f0b7de1.ca45b2","type":"function","z":"72f4e46.417071c","name":"","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nmsg.url = \"https://www.trackcorona.live/api/travel\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":520,"wires":[["e168bddb.fcbe"]]},{"id":"238cd514.a691da","type":"function","z":"72f4e46.417071c","name":"response","func":"var sresposta = \"Covid info\\n\\n\";\nsresposta += msg.payload.data;\n\nvar pld = {\n    content: sresposta, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":520,"wires":[["67e68a07.45ac94"]]},{"id":"e168bddb.fcbe","type":"delay","z":"72f4e46.417071c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":520,"wires":[["96c1c7cb.dc1ed8"]]},{"id":"e5a1d87c.298558","type":"array-loop","z":"72f4e46.417071c","name":"","key":"ale5a1d87c298558","keyType":"msg","reset":false,"resetValue":"value-null","array":"array","arrayType":"msg","x":900,"y":520,"wires":[[],["3126304c.937ab"]]},{"id":"3126304c.937ab","type":"function","z":"72f4e46.417071c","name":"","func":"if ((msg.payload.location == msg.myCountry.country_long_name)) {\n    return [msg,msg];\n}\nreturn [msg,null];","outputs":2,"noerr":0,"x":1050,"y":520,"wires":[["e5a1d87c.298558"],["238cd514.a691da"]]},{"id":"eb5b4b0f.26f118","type":"change","z":"72f4e46.417071c","name":"","rules":[{"t":"set","p":"array","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":520,"wires":[["e5a1d87c.298558"]]},{"id":"67e68a07.45ac94","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":1315,"y":520,"wires":[]},{"id":"e2320210.984e2","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":855,"y":440,"wires":[]},{"id":"fd9db71.8678b48","type":"comment","z":"72f4e46.417071c","name":"Country COVID Numbers","info":"","x":170,"y":400,"wires":[]},{"id":"a3e03283.f2feb","type":"comment","z":"72f4e46.417071c","name":"Country COVID Info","info":"","x":150,"y":480,"wires":[]},{"id":"1538298f.ed8e66","type":"link out","z":"72f4e46.417071c","name":"","links":["2e593cb3.05df04","ac21d0b7.6ed3c"],"x":895,"y":300,"wires":[]},{"id":"2e593cb3.05df04","type":"link in","z":"72f4e46.417071c","name":"","links":["1538298f.ed8e66","af948c2e.3a29f"],"x":75,"y":440,"wires":[["51a6a7a4.0891a8"]]},{"id":"ac21d0b7.6ed3c","type":"link in","z":"72f4e46.417071c","name":"","links":["1538298f.ed8e66"],"x":75,"y":520,"wires":[["2f0b7de1.ca45b2"]]},{"id":"ddbcad52.d6016","type":"link out","z":"72f4e46.417071c","name":"","links":["90ac43a3.da6bb"],"x":435,"y":140,"wires":[]},{"id":"90ac43a3.da6bb","type":"link in","z":"72f4e46.417071c","name":"","links":["ddbcad52.d6016"],"x":55,"y":600,"wires":[["f2ccfe24.f030d"]]},{"id":"c6383020.e793f","type":"watson-assistant-v2","z":"72f4e46.417071c","name":"","service-endpoint":"","assistant_id":"16b1a8f2-1f2a-4fec-9a00-b3ea3a4113eb","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":230,"y":580,"wires":[["73e3375a.303478","85593e54.7ad82"]]},{"id":"f2ccfe24.f030d","type":"change","z":"72f4e46.417071c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":115,"y":580,"wires":[["c6383020.e793f"]],"l":false},{"id":"44c9a776.b5aff8","type":"function","z":"72f4e46.417071c","name":"response","func":"var sresposta = msg.payload.text;\n\nvar pld = {\n    content: sresposta, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":580,"wires":[["9a5a5a2c.309338"]]},{"id":"9a5a5a2c.309338","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":875,"y":580,"wires":[]},{"id":"73e3375a.303478","type":"change","z":"72f4e46.417071c","name":"","rules":[{"t":"set","p":"array","pt":"msg","to":"payload.output.generic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":580,"wires":[["8ad4c801.820ae8"]]},{"id":"8ad4c801.820ae8","type":"array-loop","z":"72f4e46.417071c","name":"","key":"ale5a1d87c298558","keyType":"msg","reset":false,"resetValue":"value-null","array":"array","arrayType":"msg","x":600,"y":580,"wires":[[],["44c9a776.b5aff8"]]},{"id":"85593e54.7ad82","type":"function","z":"72f4e46.417071c","name":"","func":"var buscar_short_name = 0;\nvar temCountry = 0;\n\n//verificar as intenções\nif (msg.payload.output.intents.length > 0){\n    msg.payload.output.intents.forEach(x => {\n        if (x.intent === \"COVID_Case_Count\" || x.intent === \"HowIsCovid\"){\n            msg.intent = \"howiscovid\";\n        }\n    });\n}\nif (msg.payload.output.entities.length > 0){\n    msg.payload.output.entities.forEach(x => {\n        if (x.entity.toLowerCase() === \"country\"){\n            temCountry = 1;\n            msg.hasCountry = 1;\n            msg.entity = {\"type\":x.entity.toLowerCase(),\"value\":x.value};\n            msg.myCountry = {\"country_long_name\":x.value};\n            msg.headers = {\"Content-Type\": \"application/json\"};\n            msg.url = \"https://maps.googleapis.com/maps/api/geocode/json?address=\"+x.value+\"&key=AIzaSyBomoMAzxapRIQ1A6DQw_BWikc_BxOC_DA\";\n            buscar_short_name = 1;\n        }\n    });\n}\n\nif (buscar_short_name === 1 && temCountry === 1 && msg.intent === \"howiscovid\")\n    return [msg,null,null];\n\nif (temCountry === 0 && msg.intent === \"howiscovid\") {\n    var pld = {\n        content: \"Please ask me a this question like 'How is Covid in <my country name>.'\", \n        chatId: msg.originalMessage.from.id, \n        type: \"message\",\n    };\n    msg.payload = pld;\n    return [null,null,msg];\n}\n\nreturn [null,msg,null];\n    ","outputs":3,"noerr":0,"x":150,"y":700,"wires":[["5936187c.1275f8"],["be481f92.5c249"],["27d33110.2933ce"]]},{"id":"be481f92.5c249","type":"switch","z":"72f4e46.417071c","name":"","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"howiscovid","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":700,"wires":[["af948c2e.3a29f"]],"outputLabels":["howiscovid"]},{"id":"5936187c.1275f8","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":680,"wires":[["4a626240.5ce4ac"]]},{"id":"4a626240.5ce4ac","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":395,"y":680,"wires":[["499c679c.217d68"]],"l":false},{"id":"499c679c.217d68","type":"function","z":"72f4e46.417071c","name":"response","func":"msg.myCountry = {\"country_long_name\":msg.myCountry.country_long_name,\"country_short_name\":msg.payload.results[0].address_components[0].short_name};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":680,"wires":[["be481f92.5c249"]]},{"id":"27d33110.2933ce","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":395,"y":720,"wires":[]},{"id":"af948c2e.3a29f","type":"link out","z":"72f4e46.417071c","name":"","links":["2e593cb3.05df04"],"x":735,"y":660,"wires":[]},{"id":"7b3c38bb.aefe98","type":"telegram bot","z":"","botname":"Capinauta","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]