flowsCapinauta202005311100.json
[{"id":"72f4e46.417071c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5418a7c0.acb048","type":"telegram receiver","z":"72f4e46.417071c","name":"Capinauta","bot":"7b3c38bb.aefe98","saveDataDir":"","filterCommands":false,"x":100,"y":120,"wires":[["6cb860ac.36ff","209a30c3.342fa"],[]]},{"id":"6cb860ac.36ff","type":"debug","z":"72f4e46.417071c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":80,"wires":[]},{"id":"209a30c3.342fa","type":"switch","z":"72f4e46.417071c","name":"Tipo","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"location","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":140,"wires":[["3eb456f4.caccfa"],[],[]],"outputLabels":["location","message","else"]},{"id":"3eb456f4.caccfa","type":"link out","z":"72f4e46.417071c","name":"","links":["62b86bc7.1a7db4"],"x":395,"y":120,"wires":[]},{"id":"62b86bc7.1a7db4","type":"link in","z":"72f4e46.417071c","name":"","links":["3eb456f4.caccfa"],"x":95,"y":320,"wires":[["931ec5a8.2dc608"]]},{"id":"b8395eeb.ab7c8","type":"comment","z":"72f4e46.417071c","name":"Chaves","info":"API Maps\nAIzaSyDsOjEFjfuTihIvsLRe1tBHQ_fNFwswRDA\n\nGoogle Dialog Flow API\nAIzaSyBomoMAzxapRIQ1A6DQw_BWikc_BxOC_DA\n\nchave JSON Google\n{\n  \"type\": \"service_account\",\n  \"project_id\": \"turnkey-diode-278812\",\n  \"private_key_id\": \"2a4a4e619b22c22b4c5da118af9b52677c120304\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDXW73fsYnN4RNb\\nTm8flcFQ5Pe+Tnqw+kNqIEJqUermoNbhaxdCBS4TGO5ihtwwbubVbeuaztLMZiD+\\nPQcw+bWVQOT0BtFHSXHYpAof7/RG8GvTtbHF9MG1ag8a7pZiYVr+JF0ApWSKn96g\\nWZPZOMiokkv2o/H5dg+/gVc/hCjXClfJ2nszGGfg+udvSBwNUbR+Mh/mv4LvJGIC\\n+fxNI7RurGpEsNXATbUs87DVvK2l1B8wso1RBq7v1rc5fXDeaSCv+0rxzjD5qjqW\\nhGAFgTnTTxW+iCqb92x2Ur9fF2I94xx52gs3yWksncuLLMuYMjaHCdo5pQvOLBhq\\npvSNl43NAgMBAAECggEAVlv3LaNLn/AQa45t2Ewcy9wtjrZ408xfyUhraag02swH\\nrzhbCMH8AnN+cKsk1BU84rxj/N3QQV/4/gqp/hU8oD/4L/Ul6gDFMvtBBiKaofHa\\nQ3j6c2fdX+rKaOHhE014CC67zr0ELuTCCSoytCplqNeVt69xorgZw5FR0+oi2GwU\\nZp4uSllLxW+7OoaycUUdySDy5me4qcPCxZLmVOHzsUHdiJuaiCVzpR0TYkc4hf7E\\nBR9U2sxencggRsF5jggNA2eMiF0dJTvKk+zBk7kVB00CTpFLRKxjEW04VotgkeTP\\nGiUHecxfcYjjByDYOTQmpkLS6ZXyVFkm8yfXKlC5TwKBgQD0TMp15P8wir/MU/k7\\n+8jav7QTdsoJ29UYDhD0k8h2d7NHIxkYYgoaljqFRWY2TSMXc9v9xZdtXOP8XgyX\\n0jsj4P7IzObNaTrUgrlXfJmB7OWREt64Q+lFINwIs7fYDc0Cpd6dGFRe6MZeKCoB\\nVJI2q9uPuVkil2NxuAYGpdI4bwKBgQDhrB2xdWXhzF2Xrr/i8oI7IMSGX10hvfgR\\nKvsyu6NPgaB9oD6kSFUNWPt5BXQa9cmmjplHqMNDj0m8jGT+rCB56xa2YuZBBhzY\\nVn8kBPc9AMkma49Snh3KYu2NS+seTYyiktPo1S2dw9w24+aoyxwbXGVytpC7gE39\\nIdCuh0qjgwKBgQCaMtYf7/i7FPjW6bIJEHXIzPPGzVXdPyqT0l0VYypGzGsWXar7\\nXvZtraEmeZV4dNvPc8vJtCxOVTF6G4rrUUEO9ncbG2obAW6msBR4iicCgRqtpTF7\\nMTJN9d2siHNkJeHe5/9JPRAUD+0VhVhuGolnhLZDU4RVdyTHpJX5IDU+dQKBgQC+\\nuZQu0qVUfD/tXgdWatad2ke9uQMg7UimWckLS4HuRAO7qJ7IgUlAip+d3HoP/wJ5\\n/bKV2Y+NnaAX9h+1DQw1ffYoFtW6xsvCGvhBHOFHcU6PZgAvNuq+jXVvIWaIqcnd\\n7HGkKebvmwSWb24V4fLTPPeQR7NyhDFlahrQJg9yuQKBgCnvaLmabKsn8hom123K\\nOGwlqjVhpNVt8ef9f1I6iorU0y55CsjcDgmrdRZnq1jE8TBLoyNXY0NrTDQrdKc6\\nFRhEbXcaUagxU5zgomBSsHmzZE1pKcoXKuh30DceL54PuGpBu3uvaM5sDi0wfHj4\\nSltlJ2pEATs25QYvaSqZiIJZ\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"capinauta@turnkey-diode-278812.iam.gserviceaccount.com\",\n  \"client_id\": \"115594464434044397488\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/capinauta%40turnkey-diode-278812.iam.gserviceaccount.com\"\n}\n\n","x":170,"y":40,"wires":[]},{"id":"e8e8893b.c34bc8","type":"telegram sender","z":"72f4e46.417071c","name":"","bot":"7b3c38bb.aefe98","x":730,"y":120,"wires":[[]]},{"id":"931ec5a8.2dc608","type":"function","z":"72f4e46.417071c","name":"","func":"var pld = {\n    content: \"Hi \" + msg.originalMessage.chat.first_name + \" \" + msg.originalMessage.chat.last_name, \n    chatId: msg.payload.chatId, \n    type: \"message\",\n};\nvar resp1 = {\"payload\": pld};\n\nmsg.url = \"https://maps.googleapis.com/maps/api/geocode/json?latlng=\"+ msg.payload.content.latitude +\",\"+ msg.payload.content.longitude +\"&key=AIzaSyBomoMAzxapRIQ1A6DQw_BWikc_BxOC_DA\";\nreturn [resp1,msg];\n","outputs":2,"noerr":0,"x":210,"y":320,"wires":[["3e631d1d.2a9ae2"],["9a2b37b0.9389e8","bb1eb022.19f97"]]},{"id":"9a2b37b0.9389e8","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":395,"y":360,"wires":[["3ecfe2ee.d2294e"]],"l":false},{"id":"3ecfe2ee.d2294e","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":455,"y":360,"wires":[["ffbbad55.d511f"]],"l":false},{"id":"ffbbad55.d511f","type":"change","z":"72f4e46.417071c","name":"","rules":[{"t":"set","p":"pldres","pt":"msg","to":"payload.results","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":360,"wires":[["d60d3781.a93af8"]],"l":false},{"id":"d60d3781.a93af8","type":"array-loop","z":"72f4e46.417071c","name":"","key":"ald60d3781a93af8","keyType":"msg","reset":false,"resetValue":"value-null","array":"pldres","arrayType":"msg","x":575,"y":360,"wires":[[],["cfebecd8.17e7a"]],"l":false},{"id":"cfebecd8.17e7a","type":"function","z":"72f4e46.417071c","name":"","func":"try {\n    \n    if (msg.payload.types[0] == 'locality' && msg.payload.types[1] == 'political'){\n        msg.local = msg.payload;\n        return [msg,null];\n    } else\n        return [null,msg];\n} catch {\n    return [null,msg];\n}","outputs":2,"noerr":0,"x":635,"y":360,"wires":[["262494c6.ed705c"],["d60d3781.a93af8"]],"l":false},{"id":"50b47e68.3aeff","type":"debug","z":"72f4e46.417071c","name":"a","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":500,"wires":[]},{"id":"90f49cdd.c68b3","type":"debug","z":"72f4e46.417071c","name":"b","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":540,"wires":[]},{"id":"262494c6.ed705c","type":"array-loop","z":"72f4e46.417071c","name":"","key":"al262494c6ed705c","keyType":"msg","reset":false,"resetValue":"value-null","array":"local.address_components","arrayType":"msg","x":715,"y":360,"wires":[["acfe0407.f7c678"],["d4369fc6.2ee88"]],"l":false},{"id":"d4369fc6.2ee88","type":"function","z":"72f4e46.417071c","name":"","func":"try {\n    \n    if (msg.payload.types[0] == 'country' && msg.payload.types[1] == 'political'){\n        msg.myCountry = {\"country_long_name\": msg.payload.long_name,\"country_short_name\": msg.payload.short_name};\n    } else if (msg.payload.types[0] == 'locality' && msg.payload.types[1] == 'political'){\n        msg.myCity = {\"locality_long_name\": msg.payload.long_name,\"locality_short_name\": msg.payload.short_name};\n    }\n    return msg;\n} catch {\n    return msg;\n}","outputs":1,"noerr":0,"x":775,"y":360,"wires":[["262494c6.ed705c"]],"l":false},{"id":"acfe0407.f7c678","type":"function","z":"72f4e46.417071c","name":"","func":"var pld = {\n    content: \"Your location is \" + msg.myCountry.country_long_name + \" - \" + msg.myCity.locality_short_name, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nvar resp1 = {\"payload\": pld};\nreturn [resp1,msg];","outputs":2,"noerr":0,"x":835,"y":360,"wires":[["535434ae.b227ec"],["50b47e68.3aeff","51a6a7a4.0891a8"]],"l":false},{"id":"7663d240.ec11bc","type":"link in","z":"72f4e46.417071c","name":"","links":["3e631d1d.2a9ae2","535434ae.b227ec","e4e38de4.7a025","4a8b3fb9.8367c"],"x":595,"y":120,"wires":[["e8e8893b.c34bc8"]]},{"id":"3e631d1d.2a9ae2","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":395,"y":320,"wires":[]},{"id":"535434ae.b227ec","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":915,"y":360,"wires":[]},{"id":"bb1eb022.19f97","type":"function","z":"72f4e46.417071c","name":"","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nvar sgeocode = msg.originalMessage.location.latitude + \",\" + msg.originalMessage.location.longitude + \",100km\";\nmsg.payload = {\n        \"q\": \"covid\",\n        \"count\":5 ,\n        \"geocode\":sgeocode\n};\nmsg.url = \"https://api.twitter.com/1.1/search/tweets.json\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":720,"wires":[["dca50b0c.d798f8"]]},{"id":"dca50b0c.d798f8","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"bearer","x":270,"y":720,"wires":[["ccbc4b56.42cad8"]]},{"id":"ccbc4b56.42cad8","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":720,"wires":[["4dafbb88.4811b4"]]},{"id":"786084d1.7b38dc","type":"debug","z":"72f4e46.417071c","name":"twitter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":460,"wires":[]},{"id":"457c37e3.fbc7e8","type":"debug","z":"72f4e46.417071c","name":"c","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":580,"wires":[]},{"id":"5203aede.ec033","type":"array-loop","z":"72f4e46.417071c","name":"","key":"al3c5befdfc1a7d","keyType":"msg","reset":false,"resetValue":"value-null","array":"twitts","arrayType":"msg","x":720,"y":720,"wires":[[],["c4ee23a7.5e744"]]},{"id":"c4ee23a7.5e744","type":"function","z":"72f4e46.417071c","name":"response","func":"var sresposta = \"Tweet \"+ msg.al3c5befdfc1a7d +\"\\n\\n\";\nsresposta += \"https://twitter.com/\"+ msg.payload.user.screen_name +\"/status/\" + msg.payload.id_str + \"\"+\"\\n\\n\";\nsresposta += msg.payload.user.screen_name +\" \"+ msg.payload.user.location + \"\\n\\n\";\nsresposta += msg.payload.text + \"\\n\\n\";\n\n//sresposta += \"https://covid19.mathdro.id/api/countries/IT/og\";\n\nvar pld = {\n    content: sresposta, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":720,"wires":[["4a8b3fb9.8367c","5203aede.ec033"]]},{"id":"4a8b3fb9.8367c","type":"link out","z":"72f4e46.417071c","name":"","links":["7663d240.ec11bc"],"x":995,"y":720,"wires":[]},{"id":"4dafbb88.4811b4","type":"function","z":"72f4e46.417071c","name":"trim msg","func":"var pld;\npld = {\"twitts\": msg.payload.statuses,\n    \"originalMessage\" : msg.originalMessage}\nreturn pld;","outputs":1,"noerr":0,"x":560,"y":720,"wires":[["5203aede.ec033"]]},{"id":"315b866d.cca81a","type":"comment","z":"72f4e46.417071c","name":"Query and send last 5 twitts","info":"","x":200,"y":680,"wires":[]},{"id":"77c9ce53.d30b2","type":"comment","z":"72f4e46.417071c","name":"location","info":"","x":130,"y":280,"wires":[]},{"id":"f5f96125.05c73","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":800,"wires":[["4be4d2c0.ca02fc"]]},{"id":"3117b7c4.cf9658","type":"debug","z":"72f4e46.417071c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":800,"wires":[]},{"id":"4be4d2c0.ca02fc","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":495,"y":800,"wires":[["62d253aa.a62bec","90f49cdd.c68b3"]],"l":false},{"id":"51a6a7a4.0891a8","type":"function","z":"72f4e46.417071c","name":"","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nmsg.url = \"https://www.trackcorona.live/api/countries/\" + msg.myCountry.country_short_name;\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":800,"wires":[["123976d1.a8f629"]]},{"id":"62d253aa.a62bec","type":"function","z":"72f4e46.417071c","name":"response","func":"var sresposta = \"Covid number we found\\n\\n\";\n\n/*\nvar sresposta = \"Tweet \"+ msg.al3c5befdfc1a7d +\"\\n\\n\";\nsresposta += \"https://twitter.com/\"+ msg.payload.user.screen_name +\"/status/\" + msg.payload.id_str + \"\"+\"\\n\\n\";\nsresposta += msg.payload.user.screen_name +\" \"+ msg.payload.user.location + \"\\n\\n\";\nsresposta += msg.payload.text + \"\\n\\n\";\n*/\n\n//var supdate = msg.payload.data[0].updated.toString();\nsresposta += \"Location: \" + msg.payload.data[0].location + \"\\n\";\nsresposta += \"Confirmed: \" + msg.payload.data[0].confirmed + \"\\n\";\nsresposta += \"Deads: \" + msg.payload.data[0].dead + \"\\n\";\nsresposta += \"Recovered: \" + msg.payload.data[0].recovered + \"\\n\";\n//sresposta += \"Udated: \" + supdate + \"\\n\";\n\nvar pld = {\n    content: sresposta, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":800,"wires":[["3117b7c4.cf9658","4a8b3fb9.8367c"]]},{"id":"123976d1.a8f629","type":"delay","z":"72f4e46.417071c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":800,"wires":[["f5f96125.05c73"]]},{"id":"96c1c7cb.dc1ed8","type":"http request","z":"72f4e46.417071c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":900,"wires":[["8562f293.e6d3b"]]},{"id":"5a154876.e44f78","type":"debug","z":"72f4e46.417071c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":860,"wires":[]},{"id":"8562f293.e6d3b","type":"json","z":"72f4e46.417071c","name":"","property":"payload","action":"","pretty":false,"x":635,"y":900,"wires":[["5a154876.e44f78","e5a1d87c.298558"]],"l":false},{"id":"2f0b7de1.ca45b2","type":"function","z":"72f4e46.417071c","name":"","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nmsg.url = \"https://www.trackcorona.live/api/travel\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":900,"wires":[["e168bddb.fcbe"]]},{"id":"238cd514.a691da","type":"function","z":"72f4e46.417071c","name":"response","func":"var sresposta = \"Covid info\\n\\n\";\n\n/*\nvar sresposta = \"Tweet \"+ msg.al3c5befdfc1a7d +\"\\n\\n\";\nsresposta += \"https://twitter.com/\"+ msg.payload.user.screen_name +\"/status/\" + msg.payload.id_str + \"\"+\"\\n\\n\";\nsresposta += msg.payload.user.screen_name +\" \"+ msg.payload.user.location + \"\\n\\n\";\nsresposta += msg.payload.text + \"\\n\\n\";\n*/\n\n//var supdate = msg.payload.data[0].updated.toString();\nsresposta += msg.data;\n\nvar pld = {\n    content: sresposta, \n    chatId: msg.originalMessage.from.id, \n    type: \"message\",\n};\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":960,"wires":[["4a8b3fb9.8367c"]]},{"id":"e168bddb.fcbe","type":"delay","z":"72f4e46.417071c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":900,"wires":[["96c1c7cb.dc1ed8"]]},{"id":"881ec763.578468","type":"inject","z":"72f4e46.417071c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":900,"wires":[["2f0b7de1.ca45b2"]]},{"id":"e5a1d87c.298558","type":"array-loop","z":"72f4e46.417071c","name":"","key":"ale5a1d87c298558","keyType":"msg","reset":false,"resetValue":"value-null","array":"payload.data","arrayType":"msg","x":790,"y":900,"wires":[[],["3126304c.937ab"]]},{"id":"3126304c.937ab","type":"function","z":"72f4e46.417071c","name":"","func":"if (msg.payload.location == \"Brazil\") {\n    return [null,msg];\n}\nreturn [msg,null];","outputs":2,"noerr":0,"x":770,"y":960,"wires":[["e5a1d87c.298558"],["238cd514.a691da"]]},{"id":"7b3c38bb.aefe98","type":"telegram bot","z":"","botname":"Capinauta","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]